<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h2>Hello <%= @full_name %>,</h2>
  <p>Welcome to JMDb club.</p>
  <br />
  <p>Now you can rate and comment the movie, and add any movie to the Watchlist </p>
  <p>Visit <%= link_to "Here", "https://jmdbjason.herokuapp.com/" %> to check out!!!</p>
  <br />
  <p>Thank you.</p>
  <br />
  <p>Best Regards,</p>
  <p>Jason</p>
</body>
</html>