<% if @random_movies %>
  <div class="d-none d-md-block">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="9000">
        <%= render 'partials/header_cards', movies: @random_movies[0] %>
      </div>
      <div class="carousel-item" data-interval="6000">
        <%= render 'partials/header_cards', movies: @random_movies[1]  %>
      </div>
      <div class="carousel-item" data-interval="6000">
        <%= render 'partials/header_cards', movies: @random_movies[2]  %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
<% end %>

<%= render 'partials/cards', movies: @movies, title: "All movies" %>