<div class="form-group field">
  <%= f.label :email do %>
    <i class="fas fa-at mr-1"></i>Email address
  <% end %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
</div>